@import "css/media.css";
@import "css/fonts.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

button {
    user-select: none;
}

img {
    object-fit: cover;  
}

/* Side Menu */
.side-menu {
    width: 23em;
    min-height: 44em;
    position: fixed;
    top: 70px;
    right: 0;
    background-color: #fff;
    border-left: 1px solid #e5e5e5;
    overflow: auto;
    height: 100%;
    padding: 0px 2em 0;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    transform: translate(100%);
    transition: all .5s;
    z-index: 1111;
}


.side-menu.open {
    transform: translate(0%);
}

.top-part {
    padding-left: 3em;
    height: 50%;
    min-height: 380px;
    border-bottom: 1px solid #bfbfbf;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.top-part a {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    margin-bottom: 1.5em;
    transition: all .2s;
}

.top-part a:hover {
    color: #bfbfbf;
}

.top-part-icon {
    width: 2.6em;
    height: 2.6em;
    margin-right: 3em;
    display: flex;
}

.top-part-icon img {
    width: 2.6em;
    height: 2.6em;

}

.top-part-text {
    font-size: 1.3em;
}

.bottom-part {
    padding-top: 1.5em;
    padding-left: 3em;
    padding-bottom: .5em;
    height: 50%;
    min-height: 380px;
    border-bottom: 1px solid #bfbfbf;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bottom-part a {
    display: block;
    color: inherit;
    text-decoration: none;
    margin-bottom: 1em;
    opacity: .7;
}

.bottom-part a:hover {
    color: #bfbfbf;
}

/* Header Header Header*/
.main-header {
    position: sticky;
    z-index: 1000;
    top: 0;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 60px;
    background-color: #222222;
}

.main-header__content {
    position: relative;
    width: 100%;
    max-width: 1320px;
    height: 100%;
    display: grid;
    grid-template-areas: "logo navigation cart";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0 20px;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.main-header__logo-link {
    grid-area: logo;
    width: 100%;
    height: 50px;
}

.main-header__logo-link a {
        outline: none;
}

.main-header__logo-link img {
    height: 32px;
    padding-top: 5px;
}

.mobile-logo {
    display: none;
}

.mobile-logo img {
    height: 50px;
    width: 50px;
}

/* Navigation */
.main-header__navigation {
    grid-area: navigation;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.navigation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.nav-link a {
    letter-spacing: .05em;
    color: white;
}

.nav-link a:hover {
    letter-spacing: .08em;
    font-weight: 600;
}

/* Cart */
.main-header__cart {
    grid-area: cart;
    height: 50px;
    margin-left: 10px;
    max-width: 315px;
}

.button-cart {
    box-sizing: border-box;
    background-color: #f8f8f8;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    max-width: 310px;
    border-radius: 25px;
    padding: 2px;
    letter-spacing: .03em;
    text-decoration: none;
    text-align: center;
    position: relative;
    cursor: pointer;
    color: white;
}

.button-cart__icon {
    height: 46px;
    width: 46px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #4f4f4f;
}

.button-cart__icon img{
    width: 16px;
    filter: invert(1);
    user-select: none;
}

.cart-info-quantity {
    font-size: 14px;
    font-weight: 700;
}

.button-cart__button {
    height: 46px;
    width: 145px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 25px;
    background: #e31837;
    color: white;
    cursor: not-allowed;
}

/* Hamburger menu */
.main-header__hamburger-menu {
    position: absolute;
    right: -30px;
    top: 30px;
}

.header__hamburger-menu {
    width: 18px;
    height: 12px;
    position: relative;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.header__hamburger-menu span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
}

.header__hamburger-menu span:nth-child(1) {
    top: 0px;
}
.header__hamburger-menu span:nth-child(2) {
    top: 5px;
}
.header__hamburger-menu span:nth-child(3) {
    top: 10px;
}

.header__hamburger-menu.open span:nth-child(1){
    opacity: 0;
    top: 50%;
    width: 0;
    left: 50%;
}

.header__hamburger-menu.open span:nth-child(2){
    transform: rotate(45deg);
    top: 50%;
}

.header__hamburger-menu.open span:nth-child(3){
    transform: rotate(-45deg);
    top: 50%;
}

/* Main Main Main */
main {
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: #f8f8f8;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

/* Slider */
.main-slider {
    width: 100%;
    height: 60vh;
    max-height: 506px;
    margin-bottom: 40px;
}

.main-slider__content {
    height: 100%;
    width: 100%;
}

.slide-changer {
    position: absolute;
    height: 100%;
    width: 25%;
    border:none;
    outline: none;
    user-select: none;
    background-color: rgba(0,0,0,0);
    z-index: 20;
    cursor: pointer;
}

#slide-left {
    left: 0;
}

#slide-right {
    right: 0;
}

.slider-link {
    position: relative;
    height: 100%;
}

.slider-link:not(:nth-child(1)) {
    display: none;
}

.slider-link::after {
    content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
	background-image: linear-gradient(to right, #0000009a, #0e79d600);
    opacity: 0.8;
    border-radius: 25px; 
}

.slider-link__description {
    position: absolute;
    width: 60%;
    top: 30%;
    left: 10%;
    color: white;
    user-select: none;
    z-index: 11;
    color: #fff;
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: 700;
}

.slider-link__description p {
    line-height: 120%;
    font-size: 70px;
    margin: 0;
}

.slider-link__description span {
    font-size: 40px;
}

.slider-image {
    position: relative;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.slider-image img{
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.main-slider__buttons {
    margin-top: 15px;
    width: 100%;
    user-select: none;
}

.main-slider__buttons ul {
    list-style-type: none;
    text-align: center;
}

.main-slider__buttons li {
    display: inline-block;
    margin-right: 15px;
}

.main-slider__buttons li:last-child {
    margin-right: 0;
}

.main-slider__buttons li.active-slide button{
    background-color: #4f4f4f;
}

.main-slider__buttons button {
    width: 15px;
    height: 15px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid #4f4f4f;
    color: rgba(0,0,0,0);
    outline: none;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
}

/* Sorting */
.product-list__options {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.product-list__sort {
    position: relative;
    width: 250px;
    height: 30px;
    max-width: 315px;
}

#sort-button {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: #4f4f4f;
    padding-right: 18px;
    box-sizing: border-box;
    border: 1px solid rgba(79, 79, 79, 0.5);
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}

.sort-button__icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 5px;
    height: 12px;
    width: 18px;
}

.sort-button__icon span {
    display: block;
    width: 100%;
    margin-bottom: 3px;
    height: 2px;
    background-color: rgba(79, 79, 79, 0.5);
    border-radius: 2px;
    opacity: 1;
}

.sort-button__icon span:nth-child(2) {
    width: 60%;
}

.sort-button__icon span:nth-child(3) {
    width: 35%;
    margin-bottom: 0;
}

.sort-list {
    display: none;
    position: absolute;
    top: 35px;
    width: 100%;
    text-align: center;
    border: 1px solid rgba(79, 79, 79, 0.5);
    border-radius: 15px;    
}

.sort-list.active-list {
    display: block;
}

.sort-list {
    background: #f8f8f8;
    z-index: 10;
}

.drop-down-list__item {
    color:  rgb(79, 79, 79);
    list-style-type: none;
    padding: 15px 0;
}

.drop-down-list__item:nth-child(1) {
    border-radius: 15px 15px 0 0;
}

.drop-down-list__item:nth-child(2) {
    border-radius: 0 0 15px 15px;
}

.drop-down-list__item:hover {
    background-color: rgb(79, 79, 79, 0.3);;
}


/* Product list */
.product-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

.product-list__item {
    height: 100%;
    width: 100%;
}

.product-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid #e0e0e0;
    position: relative;
    transition: all .3s ease;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    background: #fff;
    border-radius: 25px;
    padding: 10px;
    font-family: Open Sans,sans-serif;
}

.product-block__image {
    height: 176px;
    min-height: 176px;
    position: relative;
}

.product-block__image img {
    width: 100%;
    height: 100%;
    max-height: 176px;
    transition: all .2s linear;
    border-radius: 15px;
}

.product-block__description {
    width: 100%;
    height: 100%;
}

.block-description__title {
    margin: 20px 0 0 10px;
    font-family: Open Sans,sans-serif;
    display: flex;
    align-items: center;
}

.block-description__title a {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .05em;
    text-decoration: none;
    color: #222;
}

.block-description__ingridients {
    display: flex;
    height: 55px;
    flex-direction: column;
    margin: 20px 0 0 10px;
}

.block-description__ingridients span {
    font-size: 11px;
    color: #4f4f4f;
    transition: color .3s ease;
    line-height: 146%;
}

.block-description__options {
    display: flex;
    width: 100%;
    margin-top: 15px;
    flex-direction: column;
}

.options__block {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.descriptions-options__size {
    height: 100%;
    display: flex;
    border: 1px solid rgba(0,0,0,.08);
    border-radius: 15px;
    background-color: #f8f8f8;
}

.size-options{
    outline: none;
    flex-grow: 1;
    border-radius: 15px;
    padding: 0;
    margin: 0;
    height: 30px;
    border: none;
    background-color: #f8f8f8;
    font-family: Open Sans,sans-serif;
    cursor: pointer;
}

.size-options.active-size-option {
    background: #4f4f4f;
    color: #fff;
    margin: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-radius: 15px;
    border: none;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
}

.size-options.active-size-option:hover {
    background: #222;
}


.descriptions-options__type {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.type-options {
    outline: none;
    flex-grow: 1;
    border-radius: 15px;
    padding: 0;
    margin: 0;
    height: 30px;
    border: none;
    background-color: #f8f8f8;
    font-family: Open Sans,sans-serif;
    cursor: pointer;
}

.type-options.active-type-option {
    background: #4f4f4f;
    color: #fff;
    margin: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-radius: 15px;
    border: none;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
}

.type-options.active-type-option:hover {
    background: #222;
}

.block-description__buy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.price-block {
    margin-left: 10px;
    align-self: center;
}

.pizza-price-number {
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
}

.pizza-price-text {
    font-size: 11px;
    margin-left: 5px;
    font-weight: 700;
}

.button-block {
    display: inline-block;
}

.button-block__cart {
    height: 50px;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    font-family: Open Sans,sans-serif;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #fff;
    border: none;
    border-radius: 15px;
    background: #e31837;
    outline: none;
}


.button-block__cart:hover {
    background: #bf142e;
}

.product-list__title {
    z-index: 9;
    font-size: 24px;
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}

.product-list-wrapper {
    margin-top: 15px;
}


/* Footer Footer Footer */
.main-footer {
    position: relative;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.footer-block a {
    color: white;
}

.footer-block__title {
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
}

.footer-block__item {
    text-decoration: none;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding-top: 1em;
    position: relative;
    transition: all .3s;
}

.footer-block__item a {
    color: #8d8d8d;
}

.footer-img {
    width: 100%;
}

.made-by {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.made-by a {
    color: #8d8d8d;
}

