<div class="container">
    <div class="promo-list">
        <div class="promo-list__item">
            <div class="promo-image">
                <img src="img/offers/slider-first.jpg" alt="promo">
            </div>
            <div class="promo-description">
                <div class="promo-description__text">
                    <div class="text-date">
                        25-03-2020
                    </div>
                    <div class="text-title">
                        Сумасшедший вторник!
                    </div>
                    <div class="text-main">
                        <span>
                            Каждый вторник Domino's проводит невероятную акцию «Сумасшедший вторник» - покупай одну среднюю или большую пиццу и получай вторую со скидкой 80%! В акции не участвуют маленькие пиццы. Согласно условиям акции, пицца со скидкой должна быть из меню без добавления ингредиентов. Акция действует на доставку, и для заказов, которые можно будет получить возле точки адресной доставки (у входа в пиццерию). Скидка предоставляется на меньший товар в чеке. Акция не суммируется с другими акционными предложениями. Категория пицц "Лучшая цена" является акционным предложением, которое не работает во вторник. Во вторник пиццы категории "Лучшая цена" переходят в категорию пицц "Классические". С акцией вторника бонусы не списываются, только начисляются. 
                        </span>
                    </div>
                </div>
                <div class="promo-description__button">
                    <div class="button-block">
                        <a  class="button-block__cart show-more" href="#">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="promo-list__item">
            <div class="promo-image">
                <img src="img/offers/slider-second.jpg" alt="promo">
            </div>
            <div class="promo-description">
                <div class="promo-description__text">
                    <div class="text-date">
                        25-03-2020
                    </div>
                    <div class="text-title">
                        Сумасшедший вторник!
                    </div>
                    <div class="text-main">
                        <span>
                            Каждый вторник Domino's проводит невероятную акцию «Сумасшедший вторник» - покупай одну среднюю или большую пиццу и получай вторую со скидкой 80%! В акции не участвуют маленькие пиццы. Согласно условиям акции, пицца со скидкой должна быть из меню без добавления ингредиентов. Акция действует на доставку, и для заказов, которые можно будет получить возле точки адресной доставки (у входа в пиццерию). Скидка предоставляется на меньший товар в чеке. Акция не суммируется с другими акционными предложениями. Категория пицц "Лучшая цена" является акционным предложением, которое не работает во вторник. Во вторник пиццы категории "Лучшая цена" переходят в категорию пицц "Классические". С акцией вторника бонусы не списываются, только начисляются.
                        </span>
                    </div>
                </div>
                <div class="promo-description__button">
                    <div class="button-block">
                        <a  class="button-block__cart show-more" href="#">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="promo-list__item">
            <div class="promo-image">
                <img src="img/offers/slider-third.jpg" alt="promo">
            </div>
            <div class="promo-description">
                <div class="promo-description__text">
                    <div class="text-date">
                        25-03-2020
                    </div>
                    <div class="text-title">
                        Сумасшедший вторник!
                    </div>
                    <div class="text-main">
                        <span>
                            Каждый вторник Domino's проводит невероятную акцию «Сумасшедший вторник» - покупай одну среднюю или большую пиццу и получай вторую со скидкой 80%! В акции не участвуют маленькие пиццы. Согласно условиям акции, пицца со скидкой должна быть из меню без добавления ингредиентов. Акция действует на доставку, и для заказов, которые можно будет получить возле точки адресной доставки (у входа в пиццерию). Скидка предоставляется на меньший товар в чеке. Акция не суммируется с другими акционными предложениями. Категория пицц "Лучшая цена" является акционным предложением, которое не работает во вторник. Во вторник пиццы категории "Лучшая цена" переходят в категорию пицц "Классические". С акцией вторника бонусы не списываются, только начисляются.
                        </span>
                    </div>
                </div>
                <div class="promo-description__button">
                    <div class="button-block">
                        <a  class="button-block__cart show-more" href="#">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   